@import 'partials/setup';
@import 'partials/variables';
@import 'partials/header';
@import 'partials/bio';
@import 'partials/portfolio';
@import 'partials/skills';
@import 'partials/contact';

@font-face {
	font-family: 'Swiss721 Hv BT heavy';
	src: url('../../fonts/ufonts.com_swis721-hv-bt-heavy.ttf') format('truetype'),
		 url('../../fonts/ufonts.com_swis721-hv-bt-heavy.woff') format('woff'),
		 url('../../fonts/ufonts.com_swis721_hv_bt_heavy.eot') format('embedded-opentype');
}

* {
	transition: all 0.3s;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: $textblack;
}

img {
	display: block;
}

body {
	font-family: 'Swiss721 Hv BT heavy';
	color: $textblack;
	background-color: $white;
}

.wrapper {
	max-width: 1180px;
	margin: 0 auto;
	@media (max-width: 940px) {
		max-width: 768px
	}
	@media (max-width: 768px) {
		max-width: 660px;
	}
	@media (max-width: 480px) {
		max-width: 440px;
	}
}

.section-header {
	text-align: center;
	margin: 90px 0;
	@media (max-width: 940px) {
		margin: 70px 0;
	}
	@media (max-width: 768px) {
		margin: 60px 0;
	}
	@media (max-width: 480px) {
		margin: 50px 0;
	}
	h2 {
		font-size: 100px;
		margin: 0;
		letter-spacing: 5px;
		@media (max-width: 940px) {
			font-size: 80px;
		}
		@media (max-width: 480px) {
			font-size: 60px;
		}
	}
}

// FOOTER 

footer {
	background-color: $backgroundblack;
	color: #555555;
	padding: 32px 0;
	.wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		@media (max-width: 480px) {
			padding: 0 15px; 
			text-align: center;
		}
	}
	p {
		margin: 0;
		color: $yellow;
		&:hover {
			color: $darkgrey;
		} 
		@media (max-width: 480px) {
			text-align: center;
		}
	}
}