.bio-section .wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	@media (max-width: 940px) {
		justify-content: center;
	}
	.bio-image {
		width: calc(50% - 50px);
		top: -100px;
		transform: translateY(-100px);
		@media (max-width: 940px) {
			transform: translateY(-50px);
			width: 60%;
		}
		@media (max-width: 480px) {
			width: 90%;
		}
		img {
			width: 100%;
			position: relative;
		}
	}
	.bio-text {
		width: calc(50% - 50px);
		padding-bottom: 100px;
		@media (max-width: 940px) {
			width: 80%;
			padding-bottom: 80px;
		}
		@media (max-width: 768px) {
			margin-top: 60px;
		}
		@media (max-width: 480px) {
			margin-top: 0;
		}
		h2 {
			font-size: 100px;
			margin: 0;
			line-height: 0.8;
			@media (max-width: 940px) {
				font-size: 80px;
				text-align: center;
			}
		}
		p {
			font-size: 18px;
			line-height: 2.1;
			@media (max-width: 940px) {
				font-size: 16px;
			}
		}
	}
}