header {
	background-color: $yellow;
	height: 100vh;
	position: relative;
}

.header-nav {
	display: flex;
	justify-content: space-between;
	padding-top: 55px;
	@media (max-width: 480px) {
		margin: 0 20px;
	}
	h2 {
		margin: 0;
	}
	.nav-links {
		display: flex;
		align-items: center;
		margin: 0;
		.header-nav-link {
			font-size: 16px;
			margin: 0 20px;
			@media(max-width: 768px) {
				display: none;
			}
		}
		.header-nav-link:last-of-type {
			margin-right: 0;
		}
		.hamburger {
			@media(max-width: 768px) {
				display: block;
			}
		}
		.hamburger {
			display: none;
			@media(max-width: 768px) {
				display: block;
			}
		}
		.fa-bars {
			font-size: 25px;
		}
	}
	.modal {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: black;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 1;
		.header-nav-link {
			display: block;
			margin: 25px 0;
			@media(max-width: 480px) {
				margin: 10px 0;
			}
		}
		.header-nav-link a{
			color: $yellow;
			font-size: 60px;
			@media(max-width: 480px) {
				font-size: 40px;
			}
		}
		.hamburger {
			position: absolute;
			bottom: 0; 
			right: 50px;
			i {
				font-size: 50px;
			}
		}
	}
}

.header-heroText {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-100%);
	h1 {
		font-size: 90px;
		margin: 0;
		@media (max-width: 940px) {
			font-size: 75px;
		}
		@media (max-width: 480px) {
			font-size: 50px;
		}
	}
	h3 {
		font-size: 20px;
		margin-bottom: 34px;
		@media (max-width: 480px) {
			font-size: 16px;
		}
	}
}