.portfolio-section .section-header {
	margin-top: 0;
}

.portfolio {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	.section-header {
		margin-top: 0;
	}
	.portfolio-cell {
		// width: 50%;
		flex: 0 0 50%;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@media (max-width: 940px) {
			flex: 0 0 100%;
			margin: 50px 0; 
		}
		@media (max-width: 768px) {
			width: 100%;
			margin: 20px 0; 
		}
		li {
			font-size: 18px;
			display: inline-block;
			line-height: 1.8;
			letter-spacing: 1px;
			@media (max-width: 940px) {
				font-size: 16px;
			}
		}
		img {
			width: 80%;
		}
	}
	.cell__yellow {
		background-color: $yellow;
		padding: 150px 75px;
		margin-bottom: 100px;
		@media (max-width: 940px) {
			margin-bottom: 0;
		}
		@media (max-width: 768px) {
			padding: 125px 50px; 
		}
		@media (max-width: 480px) {
			padding: 75px 25px; 
		}
	}
	.cell__black {
		background-color: $textblack;
		padding: 150px 75px;
		margin-bottom: 100px;
		@media (max-width: 940px) {
			margin-bottom: 0;
		}
		@media (max-width: 768px) {
			padding: 125px 50px; 
		}
		@media (max-width: 480px) {
			padding: 75px 25px; 
		}
		.portfolio-button {
			color: $yellow;
			border: 2px solid $yellow;
		}
		h3, li {
			color: $yellow;
		}
	}
	h3 {
		font-size: 36px;
		margin-bottom: 20px;
		margin-top: 0;
		letter-spacing: 2px;
		@media (max-width: 940px) {
			font-size: 32px;
		}
	}
}

.button-box {
	display: flex;
	justify-content: space-between;
}

.portfolio-button {
	display: inline-block;
	border: 2px solid $textblack;
	padding: 10px 20px;
	margin: 10px 20px;
	letter-spacing: 1px;
}

.cellOne {
	@media(max-width: 940px) {
		margin-top: 0;
		order: 2;
	}
}

.cellTwo {
	@media(max-width: 940px) {
		order: 1;
	}
}

.cellThree {
	@media(max-width: 940px) {
		order: 3;
	}
}

.cellFour {
	@media(max-width: 940px) {
		order: 4;
	}
}

.cellFive {
	@media(max-width: 940px) {
		order: 6;
	}
}

.cellSix {
	@media(max-width: 940px) {
		order: 5;
	}
}

.cellSeven {
	@media(max-width: 940px) {
		order: 7;
	}
}

.cellEight {
	@media(max-width: 940px) {
		order: 8;
	}
}