article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'Swiss721 Hv BT heavy';
  src: url("../../fonts/ufonts.com_swis721-hv-bt-heavy.ttf") format("truetype"), url("../../fonts/ufonts.com_swis721-hv-bt-heavy.woff") format("woff"), url("../../fonts/ufonts.com_swis721_hv_bt_heavy.eot") format("embedded-opentype"); }

* {
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

ul {
  list-style: none;
  padding: 0; }

a {
  text-decoration: none;
  color: #191919; }

img {
  display: block; }

body {
  font-family: 'Swiss721 Hv BT heavy';
  color: #191919;
  background-color: #FFFFFF; }

.wrapper {
  max-width: 1180px;
  margin: 0 auto; }
  @media (max-width: 940px) {
    .wrapper {
      max-width: 800px; } }
  @media (max-width: 768px) {
    .wrapper {
      max-width: 700px; } }
  @media (max-width: 480px) {
    .wrapper {
      max-width: 440px; } }

.section-header {
  text-align: center;
  margin: 100px 0; }
  .section-header h2 {
    font-size: 100px;
    margin: 0; }
    @media (max-width: 940px) {
      .section-header h2 {
        font-size: 80px; } }

header {
  background-color: #FFF200;
  height: 100vh; }

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 55px; }
  .header-nav h2 {
    margin: 0; }
  .header-nav .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0; }
    .header-nav .nav-links .header-nav-link {
      font-size: 16px;
      margin: 0 20px; }
    .header-nav .nav-links .header-nav-link:last-of-type {
      margin-right: 0; }
    .header-nav .nav-links .fa-bars {
      font-size: 25px; }

.header-heroText {
  text-align: center; }
  .header-heroText h1 {
    font-size: 100px;
    margin: 0; }
    @media (max-width: 940px) {
      .header-heroText h1 {
        font-size: 80px; } }
  .header-heroText h3 {
    font-size: 20px;
    margin-bottom: 34px;
    margin-top: 200px; }

.bio-section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .bio-section .wrapper .bio-image {
    width: calc(50% - 50px);
    top: -100px;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
    @media (max-width: 940px) {
      .bio-section .wrapper .bio-image {
        -webkit-transform: translateY(-50px);
                transform: translateY(-50px); } }
    .bio-section .wrapper .bio-image img {
      width: 100%;
      position: relative; }
  .bio-section .wrapper .bio-text {
    width: calc(50% - 50px);
    margin-top: 100px;
    padding-bottom: 100px; }
    @media (max-width: 940px) {
      .bio-section .wrapper .bio-text {
        width: calc(50% - 80px);
        margin-top: 80px;
        padding-bottom: 80px; } }
    .bio-section .wrapper .bio-text h2 {
      font-size: 100px;
      margin: 0 0 80px 0;
      line-height: 0.8; }
      @media (max-width: 940px) {
        .bio-section .wrapper .bio-text h2 {
          font-size: 80px; } }
    .bio-section .wrapper .bio-text p {
      font-size: 16px;
      line-height: 1.5; }
      @media (max-width: 940px) {
        .bio-section .wrapper .bio-text p {
          font-size: 16px; } }

.portfolio-section .section-header {
  margin-top: 0; }

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .portfolio .section-header {
    margin-top: 0; }
  .portfolio .portfolio-cell {
    width: 50%;
    height: 500px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 940px) {
      .portfolio .portfolio-cell {
        width: 100%; } }
    .portfolio .portfolio-cell li {
      font-size: 18px;
      display: inline-block; }
      @media (max-width: 940px) {
        .portfolio .portfolio-cell li {
          font-size: 16px; } }
    .portfolio .portfolio-cell img {
      width: 80%; }
  .portfolio .cell__yellow {
    background-color: #FFF200;
    padding: 10px 50px;
    padding: 0 25px; }
  .portfolio .cell__black {
    background-color: #191919;
    padding: 10px 50px; }
    .portfolio .cell__black h3, .portfolio .cell__black li {
      color: #FFF200; }
  .portfolio h3 {
    font-size: 36px;
    margin-bottom: 20px; }
    @media (max-width: 940px) {
      .portfolio h3 {
        font-size: 32px; } }

.skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative; }
  .skills-list:after {
    content: '';
    position: absolute;
    bottom: calc(50% + 75px);
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    left: 0;
    right: 0;
    height: 2px;
    background-color: #6E6E6E; }
  .skills-list .skills-item {
    text-align: center;
    width: 25%;
    margin-bottom: 150px; }
    .skills-list .skills-item i {
      color: #6E6E6E;
      font-size: 50px; }
    .skills-list .skills-item p {
      color: #b2b2b2;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 2px; }

.contact-section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(../../assets/map.png);
  background-size: cover;
  padding: 100px 0; }
  .contact-section .wrapper .contact-cell {
    width: calc(50% - 50px);
    padding-right: 50px; }
    .contact-section .wrapper .contact-cell .cell-top {
      height: 140px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .contact-section .wrapper .contact-cell h3 {
      font-size: 40px; }
    .contact-section .wrapper .contact-cell p {
      font-size: 20px;
      margin: 0;
      line-height: 1; }
  .contact-section .wrapper .contact-iconList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    margin: 0; }
    .contact-section .wrapper .contact-iconList a {
      margin-right: 20px; }

footer {
  background-color: #020202;
  color: #555555;
  padding: 32px 0; }
  footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  footer a {
    color: #6E6E6E; }
  footer p {
    margin: 0; }
  footer span {
    color: white; }
